/* body {
padding: 0;
  margin: 0;
  font-family: sans-serif;
}
ul {
  display: flex;
  background-color: burlywood;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

li {
  background-color: beige;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

li:hover {
  /* transform: translateY(2px); */
  /* transform: scale(2); */
  /* transform: rotate(360deg); */
  /* transform: translate(2px,2px); */
  /* transition: all 5s ease-in;
  border-bottom: 2px solid brown;
}

.nav-wrapper {
  display: flex;
}

.nav-wrapper > div.logo {
  width: 20%;
  background-color: rgb(235, 145, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper > ul {
  width: 80%;
}  */

/* body {
    height: 5px;
    width: 5px;
    
} */

input {
  margin-top: 20px;
  width: 1205px;
  border-radius: 50px;
  background-color: solid;
  border-color: hsl(39, 100%, 50%);

}

